<head>
	<style>
		body{
			font-family: 'Roboto', sans-serif;
			background: #808080;
			background: -webkit-linear-gradient(to top, #CBCBCB,#70a9e2cb,#0d111b78);
			background: linear-gradient(to top, #CBCBCB,#70a9e2cb,#0d111b78);
			min-height: 100vh;
			width: 100vw;
			margin: 0;
		}
		fieldset{
			text-align:left;
			width: 750px;
			position:relative;
			left:25%;
		}
	</style>
</head>
<h1 class="main_text">DnD Character Classification Website</h1>
</br>
<p class="main_description">Take as many tests as you can. The Results page will contain all of the results.</p>
<p class="main_description">See if you can take all the tests. A suprise animation and character assignment awaits at the end.</p>
<p class="main_description">After completing a test. Can click the more info button to learn more about your result.</p>
<h2 class="main_text">Tests:</h2>
<p class="main_description">IPIP - is the International Personality Item Pool test. It is a robust personality model with 5 factor markers, Concientiousness, Extraversion, Agreeableness, Intellect/Imagination and Emotional Stability. 
	The 5 dimensions, signify a broad area of the human psyche and personality. The model is broad enough that it holds up, even with other factors at play such as early brain development and personality disorders.</p>
<p class="main_description">JT - is the Jung Typology test. It gives a personality type based on preferences in certain situations and how a person filters information. 
	There are 16 personality types based on a cognitive stack, emulating from the socionics model. 
	The stack is the order of 4 processes, the combinations of introversion and extraversion and their associated functions of thinking feeling sensing and intuiting.</p>
<p class="main_description">DISC - is the Dominance Influence Steadiness and Concientiousness test. It is a tool to determine behavioral preferences.
	Each letter in the acronym is a quadrant and the results of the tool reveal where a person lies in relation to the origin. 
	In general, the D is upper left, I is upper right, S is lower right and C is lower left. The tool is used to compare differences and
	help a person understand their nature how to adapt to working with others and manage relationships.</p>
<p class="main_description">FPQ - is Fisher's Personality Quiz. It is based on 4 quality pairs, 
	Curious/Energetic, Cautious/Social Norm Compliant, Analytical/Tough-minded, Prosocial/Empathetic and their respective brain chemicals,
	(dopamine, norepinephrine), (serotonin), (testosterone), (estrogen, oxytocin). The analysis of the results of the test indicates where a person lies on the quality spectrum.
	However, the 4 qualities can be ascribed to 4 general temperaments:
	Explorers are Curious/Energetic, Builders are Cautious/Social Norm Complian, Directors are Analytical/Tough-minded, Negotiators are Prosocial/Empathetic. 
	The test was developed based on patterns of neural circuitry. </p>
<p class="main_description">EQ - is the Emotional Quotient test.  </p>
<p class="main_description">EoPS - is the Enneagram of Personality Scale test.  </p>
<p class="main_description">Chronotype - this test gives results for whether a person is a morning, evening or day person.  </p>
<p class="main_description">Spirit Animal - is as the name a implies, a spirit animal test. If you got the spirit animal of a turtle, you're a rare one. </p>
</br>
<h3>References</h3>
<ul>Credit to BFI for inspiration on IPIP test development, source: Lang, F. R., John, D., Ludtke, O., Schupp, J., &amp; Wagner, G. G. (2011). Short assessment of the Big Five: robust across survey methods except telephone interviewing. Behavior Research Methods, 43, 548-567.</ul>
<ul>Credit to the following source for Jung Typology test development:<a href="url">https://www.123test.com/jung-typology/</a>.</ul>
<ul>The DISC model is public domain.</ul>
<ul>Credit to Fisher's Personality Quiz for inspiration on FPQ, source: Brown LL, Acevedo B, Fisher HE (2013). Neural Correlates of Four Broad Temperament Dimensions: Testing Predictions for a Novel Construct of Personality. PLoS ONE 8(11): e78734.</ul>
<ul>Credit to the following source to design EQ test: <a href="url">https://www.psychologytoday.com/us/blog/good-thinking/201408/the-dark-side-emotional-intelligence</a>.</ul>
<ul>Credit to Enneagram for inspiration on Enneagram of Personality Scale source: 
<a href="url">https://www.enneagraminstitute.com/about</a>.</ul>
<ul>Chronotype or CIRENS can be used for research, acknowledging the researchers: (Ottoni et al., 2011).</ul>
<h3>Disclaimer</h3>
<footer>All the tests are for educational and entertainment uses only. The tests are imitations of the assessment tools and do not infringe on the intellectual property or seek to profit off of them. The tests are public domain.
	The tests are not clinically administered and therefore hold no bearing on your true nature. If the tests are taken more than once, the results are liable to vary. Overall, the tests are only an approximation.</footer>

