<head>
	<style>
		body{
			font-family: 'Roboto', sans-serif;
			background: #808080;
			background: -webkit-linear-gradient(to top, #CBCBCB,#70a9e2cb,#0d111b78);
			background: linear-gradient(to top, #CBCBCB,#70a9e2cb,#0d111b78);
			min-height: 100vh;
			width: 100vw;
			margin: 0;
		}
		fieldset{
			text-align:left;
			width: 750px;
			position:relative;
			left:25%;
		}
	</style>
</head>
<h1 class="main_text">DnD Character Classification Website</h1>
</br>
<div class="center_portrait">
	<img class="image_portrait" src={{imgHomeURL}} alt="Home" />
</div>
<p class="main_description">Deciding on a character class is hard. Take the guesswork out of it and use the tools below to provide a class for you.</p>
<p class="main_description">Take as many tests as you can. The Results page will contain all of the results. Completing all the questions will yield better results.</p>
<p class="main_description">A suprise animation and class assignment awaits at the end.</p>
<p class="main_description">After completing a test. Can click the more info button to learn more about your result.</p>
<h2 class="main_text">Tests:</h2>
<p class="main_description">IPIP - is International Personality Item Pool test. It is a robust personality model with 5 factor markers, 
	Conscientiousness, Extraversion, Agreeableness, Intellect/Imagination and Emotional Stability. 
	The 5 dimensions, signify a broad area of the human psyche and personality.</p>
<p class="main_description">JT - is the Jung Typology test. It gives a personality type based on preferences in certain situations and how a person filters information. 
	There are 16 personality types based on a cognitive stack, emulating the socionics model. 
	The stack is the order of 4 processes, the combinations of introversion and extraversion and their associated functions of thinking, feeling, sensing and intuiting.</p>
<p class="main_description">DISC - is the Dominance Influence Steadiness and Conscientiousness test. It is a tool to determine behavioral preferences.
	Each letter in the acronym is a quadrant and the results of the tool reveal where an individual lies in relation to the origin. 
	In general, the D is upper left, I is upper right, S is lower right and C is lower left. The tool is compares personality differences in individuals and groups.</p>
<p class="main_description">FPQ - is Fisher's Personality Quiz. It is based on 4 quality pairs, 
	Curious/Energetic, Cautious/Social Norm Compliant, Analytical/Tough-minded, Prosocial/Empathetic and their respective brain chemicals,
	(dopamine, norepinephrine), (serotonin), (testosterone), (estrogen, oxytocin). 
	The analysis of the results of the test indicates where a person lies on the quality spectrum. However, the 4 qualities can be ascribed to 4 general temperaments:
	Explorers are Curious, Builders are Cautious, Directors are Analytical, Negotiators are Prosocial. 
	The test was developed based on patterns of neural circuitry. </p>
<p class="main_description">EQ - is the Emotional Quotient test. It measures the ability to empathize and engage in prosocial behaviors. 
	High EQ is correlated with good leadership skills and self-awareness.
	Low EQ is correlated with impulsiveness and prioritizing self-focused goals.</p>
<p class="main_description">EoPS - is the Enneagram of Personality Scale test. It is the model of nine interconnected types. 
	The model posits that everyone is born with one of the nine distinct primary types. The adjacent types indicate the wings of the personality or subtypes. 
	These groups or centers are labelled thinking, instinctive and feeling. The thinking center contains the types 5, 6 and 7. 
	The instinctive center contains types 8, 9 and 1. The feeling center contains types 2, 3 and 4. </p>
<p class="main_description">Chronotype - this test gives results for whether a person is a morning, evening or day person. 
	It is the assessment of whether an individual sleeps at a particular time or is active at a particular time. 
	The test was developed based on study of circadian rythyms.</p>
<p class="main_description">Spirit Animal - is as the name implies, a Spirit Animal test. Turtle is rare. </p>
</br>
<h3>References</h3>
<ul>Credit to BFI for inspiration on IPIP test development, source: Lang, F. R., John, D., Ludtke, O., Schupp, J., &amp; Wagner, G. G. (2011). Short assessment of the Big Five: robust across survey methods except telephone interviewing. Behavior Research Methods, 43, 548-567.</ul>
<ul>Additionally, credit to the following for the IPIP scale and scoring: Johnson, J. A. (2014). Measuring thirty facets of the five factor model with a 120-item public domain inventory: Development of the IPIP-NEO-120. Journal of Research in Personality, 51, 78–89. https://doi.org/10.1016/j.jrp.2014.05.003</ul>
<ul>Credit to the following source for Jung Typology test development:<a href="url">https://www.123test.com/jung-typology/</a>.</ul>
<ul>The DISC model is public domain.</ul>
<ul>Credit to Fisher's Personality Quiz for inspiration on FPQ, source: Brown LL, Acevedo B, Fisher HE (2013). Neural Correlates of Four Broad Temperament Dimensions: Testing Predictions for a Novel Construct of Personality. PLoS ONE 8(11): e78734.</ul>
<ul>Credit to the following source to design EQ test: Schutte, N. S., Malouff, J. M., Hall, L. E., Haggerty, D. J., Cooper, J. T., Golden, C. J., &amp; Dornheim, L. (1998). Development and validation of a measure of emotional intelligence. Personality and Individual Differences, 25, 167–177.</ul>
<ul>Credit to Enneagram for inspiration on Enneagram of Personality Scale source: 
<a href="url">https://www.enneagraminstitute.com/about</a>.</ul>
<ul>Credit to chronotype or CIRENS for scale, source: Ottoni, G.L., Antoniolli, E., &amp; Lara, D.R. (2011). The Circadian Energy Scale (CIRENS): Two Simple Questions for a Reliable Chronotype Measurement Based on Energy. Chronobiology International, 28, 229-337.</ul>
<h3>Disclaimer</h3>
<footer>All the tests are for educational and entertainment uses only. 
	The tests are imitations of the assessment tools and do not infringe on the intellectual property or seek to profit off of them.
	The tests are not clinically administered and therefore hold no bearing on your true nature. 
	If the tests are taken more than once, the results are liable to vary. 
	Overall, the tests are only an approximation. The tests are public domain.
</footer>

