<head>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: #f64f59;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #007f60, #449900, #40f900);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #007f60, #449900, #40f900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            min-height: 100vh;
            width: 100vw;
            margin: 0;
        }
    </style>
</head>
<h1>Results Page</h1>
<h2>Welcome to the results page </h2>
<h4>The fields below show your scores of your tests!</h4>
</br>
<div class="center">
    <table class="table-condensed" style="width:345px;">
        <tbody> 
            <tr> 
                <td><li class="results_list">mbti result: {{mbtiResult.result}}</li></td>
                {{#if mbtiResult.result}}
                    <td><button id="mbtiButton" style="float:right;" onclick="mbtiInfo()" class="btn btn-info">more info</button></td>
                {{/if}}
            </tr> 
        </tbody>
    </table>   
</div>
<div class="center_info">
        <div id="mbtiDesc" style="display:none">{{lookup_prop mbtiResult.result mbtiResult.result_info}}</div>
</div>
<div class="center">
    <table class="table-condensed" style="width:345px;">
        <tbody> 
            <tr> 
                <td><li class="results_list">spirit animal result: {{spiritResult.result}}</li></td>
                {{#if spiritResult.result}}
                    <td><button style="float:right;" onclick="spiritInfo()" class="btn btn-info">more info</button></td>
                {{/if}}
            </tr> 
        </tbody>
    </table>   
</div>
<div class="center_info">
     <div id="spiritDesc" style="display:none">{{lookup_prop spiritResult.result spiritResult.result_info}}</div>
</div>

</br>
{{#if animate}}
    <div class="center">
        <p style="padding-left:5px">Congratulations, completed all tests!</p>     
    </div>
    <div class="center">
        <p style="padding-left:5px">Classifying based on the results. You are</p> 
    </div>
    <div class="center">
        <p style="padding-left:5px">drumroll... </p> 
        <p style="padding-left:50px"><b>The</b> </p>
    </div>
    <div class="animate_center">
        <div id="congrats">Congrats!!</div>
    </div>
{{/if}}



