<head>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: #f64f59;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #007f60, #449900, #40f900);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #007f60, #449900, #40f900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            min-height: 100vh;
            width: 100vw;
            margin: 0;
        }
    </style>
</head>
<h1>Results Page</h1>
<h2>Welcome to the results page </h2>
<h4>The fields below show your scores of your test!</h4>
</br>
<div class="center">
    <!-- TODO: make table -->
    <li class="results_list">mbti result: {{mbtiResult}}</li>
</div>
<div class="center">
    <li class="results_list">spirit animal result: {{spiritResult}}</li>
</div>
</br>
{{#if animate}}
    <div class="center">
        <p style="padding-left:5px">  Congratulations completed all test!</p>
        
    </div>
    <div class="animate_center">
        <div id="congrats">Congrats!!</div>
    </div>
{{/if}}



