<head>
<h1 style="text-align: center"><b>spirit animal</b></h1>
	<style>
		body{
			font-family: 'Roboto', sans-serif;
			background: #808080;
			background: -webkit-linear-gradient(to bottom, #CBCBCB,#a90202,#2c2b2b);
			background: linear-gradient(to bottom, #CBCBCB,#a90202,#2c2b2b);
			min-height: 100vh;
			width: 100vw;
			margin: 0;
		}
	</style>
</head>
<body>
<div class="container">
<div class="row justify-content-lg-center justify-content-md-center justify-content-sm-center justify-content-xs-center">
<div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
<form id="test_spiritTest" action="/spiritTest/{{id}}" method="post">
	<fieldset>
	<p>This test is mostly for fun.</p>
	<p>Number of questions: 29</p>
	<p>Time: approx. 4-6 minutes</p>
	<p>Scroll to Bottom:<a style="margin:27%" href="javascript: document.body.scrollIntoView(false);">&darr;</a></p>
	</fieldset>
	<fieldset>
		<h5>Q1</h5>
		<p>
			<label><i>Choose a season.</i></label></br>
			<input type = "radio"
				name = "0"
				id = "Q0_0"
				value = "0" />
			<label for = "Q0_0">Summer.</label></br>
			<input type = "radio"
				name = "0"
				id = "Q0_1"
				value = "1" />
			<label for = "Q0_1">Fall.</label></br>
			<input type = "radio"
				name = "0"
				id = "Q0_2"
				value = "2" />
			<label for = "Q0_2">Winter.</label></br>
			<input type = "radio"
				name = "0"
				id = "Q0_3"
				value = "3" />
			<label for = "Q0_3">Spring.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q2</h5>
		<p>
			<label><i>Choose an element.</i></label></br>
			<input type = "radio"
				name = "1"
				id = "Q1_0"
				value = "0" />
			<label for = "Q1_0">Air.</label></br>
			<input type = "radio"
				name = "1"
				id = "Q1_1"
				value = "1" />
			<label for = "Q1_1">Fire.</label></br>
			<input type = "radio"
				name = "1"
				id = "Q1_2"
				value = "2" />
			<label for = "Q1_2">Water.</label></br>
			<input type = "radio"
				name = "1"
				id = "Q1_3"
				value = "3" />
			<label for = "Q1_3">Earth.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q3</h5>
		<p>
			<label><i>Choose a destination.</i></label></br>
			<input type = "radio"
				name = "2"
				id = "Q2_0"
				value = "0" />
			<label for = "Q2_0">Mountains.</label></br>
			<input type = "radio"
				name = "2"
				id = "Q2_1"
				value = "1" />
			<label for = "Q2_1">Island.</label></br>
			<input type = "radio"
				name = "2"
				id = "Q2_2"
				value = "2" />
			<label for = "Q2_2">Desert.</label></br>
			<input type = "radio"
				name = "2"
				id = "Q2_3"
				value = "3" />
			<label for = "Q2_3">Anywhere.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q4</h5>
		<p>
			<label><i>Choose a symbol.</i></label></br>
			<input type = "radio"
				name = "3"
				id = "Q3_0"
				value = "0" />
			<label for = "Q3_0">Diamond &diams;.</label></br>
			<input type = "radio"
				name = "3"
				id = "Q3_1"
				value = "1" />
			<label for = "Q3_1">Clubs &clubs;.</label></br>
			<input type = "radio"
				name = "3"
				id = "Q3_2"
				value = "2" />
			<label for = "Q3_2">Spade &spades;.</label></br>
			<input type = "radio"
				name = "3"
				id = "Q3_3"
				value = "3" />
			<label for = "Q3_3">Heart &hearts;.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q5</h5>
		<p>
			<label><i>Choose a form of travel.</i></label></br>
			<input type = "radio"
				name = "4"
				id = "Q4_0"
				value = "0" />
			<label for = "Q4_0">Air.</label></br>
			<input type = "radio"
				name = "4"
				id = "Q4_1"
				value = "1" />
			<label for = "Q4_1">Sea.</label></br>
			<input type = "radio"
				name = "4"
				id = "Q4_2"
				value = "2" />
			<label for = "Q4_2">Land.</label></br>
			<input type = "radio"
				name = "4"
				id = "Q4_3"
				value = "3" />
			<label for = "Q4_3">Underwater.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q6</h5>
		<p>
			<label><i>Do you have an appreciation for nature?</i></label></br>
			<input type = "radio"
				name = "5"
				id = "Q5_0"
				value = "0" />
			<label for = "Q5_0">Yes, I study the environment and natural concepts.</label></br>
			<input type = "radio"
				name = "5"
				id = "Q5_1"
				value = "1" />
			<label for = "Q5_1">Yes, I prefer being in nature as much as possible.</label></br>
			<input type = "radio"
				name = "5"
				id = "Q5_2"
				value = "2" />
			<label for = "Q5_2">Yes, I use nature to test and challenge myself.</label></br>
			<input type = "radio"
				name = "5"
				id = "Q5_3"
				value = "3" />
			<label for = "Q5_3">Maybe, I prefer civilization.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q7</h5>
		<p>
			<label><i>Do you prefer the stillness of night?</i></label></br>
			<input type = "radio"
				name = "6"
				id = "Q6_0"
				value = "0" />
			<label for = "Q6_0">Yes, I enjoy solitary night hikes.</label></br>
			<input type = "radio"
				name = "6"
				id = "Q6_1"
				value = "1" />
			<label for = "Q6_1">Yes, but I prefer to enjoy the quietness of night indoors.</label></br>
			<input type = "radio"
				name = "6"
				id = "Q6_2"
				value = "2" />
			<label for = "Q6_2">No, I am a morning person.</label></br>
			<input type = "radio"
				name = "6"
				id = "Q6_3"
				value = "3" />
			<label for = "Q6_3">No, I prefer the bright and active daytime.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q8</h5>
		<p>
			<label><i>Do you often feel a kinship with certain animals or other organisms?</i></label></br>
			<input type = "radio"
				name = "7"
				id = "Q7_0"
				value = "0" />
			<label for = "Q7_0">I have a kinship to woodland animals.</label></br>
			<input type = "radio"
				name = "7"
				id = "Q7_1"
				value = "1" />
			<label for = "Q7_1">I like cute small dogs.</label></br>
			<input type = "radio"
				name = "7"
				id = "Q7_2"
				value = "2" />
			<label for = "Q7_2">I identify with colorful animals.</label></br>
			<input type = "radio"
				name = "7"
				id = "Q7_3"
				value = "3" />
			<label for = "Q7_3">I like savage animals.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q9</h5>
		<p>
			<label><i>Do you feel in touch with nature?</i></label></br>
			<input type = "radio"
				name = "8"
				id = "Q8_0"
				value = "0" />
			<label for = "Q8_0">Yes, in the sense that I am navigating it along with everything else.</label></br>
			<input type = "radio"
				name = "8"
				id = "Q8_1"
				value = "1" />
			<label for = "Q8_1">I feel like I have a responsibility to mitigate my impact on the environment.</label></br>
			<input type = "radio"
				name = "8"
				id = "Q8_2"
				value = "2" />
			<label for = "Q8_2">I am acutely aware of the world around me.</label></br>
			<input type = "radio"
				name = "8"
				id = "Q8_3"
				value = "3" />
			<label for = "Q8_3">No, I feel like the natural world shows as much mercy as I do.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q10</h5>
		<p>
			<label><i>Do you believe that other species possess senses humans do not?</i></label></br>
			<input type = "radio"
				name = "9"
				id = "Q9_0"
				value = "0" />
			<label for = "Q9_0">I observe nature and have witnessed this phenomenon.</label></br>
			<input type = "radio"
				name = "9"
				id = "Q9_1"
				value = "1" />
			<label for = "Q9_1">There is extensive research that proves this concept.</label></br>
			<input type = "radio"
				name = "9"
				id = "Q9_2"
				value = "2" />
			<label for = "Q9_2">No animal is superior to any other, we are all perfectly balanced.</label></br>
			<input type = "radio"
				name = "9"
				id = "Q9_3"
				value = "3" />
			<label for = "Q9_3">It makes sense intuitively.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q11</h5>
		<p>
			<label><i>What is your outlook on life at the beginning of the day?</i></label></br>
			<input type = "radio"
				name = "10"
				id = "Q10_0"
				value = "0" />
			<label for = "Q10_0">I have so much to do.</label></br>
			<input type = "radio"
				name = "10"
				id = "Q10_1"
				value = "1" />
			<label for = "Q10_1">It varies day to day, but I am always ready for it.</label></br>
			<input type = "radio"
				name = "10"
				id = "Q10_2"
				value = "2" />
			<label for = "Q10_2">I look forward to it and what experiences I can have.</label></br>
			<input type = "radio"
				name = "10"
				id = "Q10_3"
				value = "3" />
			<label for = "Q10_3">Day?</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q12</h5>
		<p>
			<label><i>How positive are you?</i></label></br>
			<input type = "radio"
				name = "11"
				id = "Q11_0"
				value = "0" />
			<label for = "Q11_0">Very.</label></br>
			<input type = "radio"
				name = "11"
				id = "Q11_1"
				value = "1" />
			<label for = "Q11_1">I am a very stable person, neither positive or negative.</label></br>
			<input type = "radio"
				name = "11"
				id = "Q11_2"
				value = "2" />
			<label for = "Q11_2">I am positive when I am around people I like.</label></br>
			<input type = "radio"
				name = "11"
				id = "Q11_3"
				value = "3" />
			<label for = "Q11_3">I can be negative.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q13</h5>
		<p>
			<label><i>What is your approach to learning?</i></label></br>
			<input type = "radio"
				name = "12"
				id = "Q12_0"
				value = "0" />
			<label for = "Q12_0">I take a balanced approach and read or practice a skill when convenient.</label></br>
			<input type = "radio"
				name = "12"
				id = "Q12_1"
				value = "1" />
			<label for = "Q12_1">I learn best by experience.</label></br>
			<input type = "radio"
				name = "12"
				id = "Q12_2"
				value = "2" />
			<label for = "Q12_2">I set a scheduled time for learning and commit to it.</label></br>
			<input type = "radio"
				name = "12"
				id = "Q12_3"
				value = "3" />
			<label for = "Q12_3">I dig deep into any given topic.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q14</h5>
		<p>
			<label><i>How do you handle conflict?</i></label></br>
			<input type = "radio"
				name = "13"
				id = "Q13_0"
				value = "0" />
			<label for = "Q13_0">I handle conflict by controlling the dynamic.</label></br>
			<input type = "radio"
				name = "13"
				id = "Q13_1"
				value = "1" />
			<label for = "Q13_1">I attempt to come to a mutual resolution through understanding.</label></br>
			<input type = "radio"
				name = "13"
				id = "Q13_2"
				value = "2" />
			<label for = "Q13_2">I try to avoid conflict.</label></br>
			<input type = "radio"
				name = "13"
				id = "Q13_3"
				value = "3" />
			<label for = "Q13_3">I don't enjoy conflict, I attempt to ease tension with humor.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q15</h5>
		<p>
			<label><i>Do you believe in destiny?</i></label></br>
			<input type = "radio"
				name = "14"
				id = "Q14_0"
				value = "0" />
			<label for = "Q14_0">I know and control my destiny.</label></br>
			<input type = "radio"
				name = "14"
				id = "Q14_1"
				value = "1" />
			<label for = "Q14_1">I don't believe in destiny, because it cannot be proven.</label></br>
			<input type = "radio"
				name = "14"
				id = "Q14_2"
				value = "2" />
			<label for = "Q14_2">I believe in reality.</label></br>
			<input type = "radio"
				name = "14"
				id = "Q14_3"
				value = "3" />
			<label for = "Q14_3">Destiny is not fixed and always changing.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q16</h5>
		<p>
			<label><i>What would your superpower be?</i></label></br>
			<input type = "radio"
				name = "15"
				id = "Q15_0"
				value = "0" />
			<label for = "Q15_0">Invisibility.</label></br>
			<input type = "radio"
				name = "15"
				id = "Q15_1"
				value = "1" />
			<label for = "Q15_1">X-ray Vision.</label></br>
			<input type = "radio"
				name = "15"
				id = "Q15_2"
				value = "2" />
			<label for = "Q15_2">Super Intelligence.</label></br>
			<input type = "radio"
				name = "15"
				id = "Q15_3"
				value = "3" />
			<label for = "Q15_3">Mind Control.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q17</h5>
		<p>
			<label><i>How would you greet E.T. beings?</i></label></br>
			<input type = "radio"
				name = "16"
				id = "Q16_0"
				value = "0" />
			<label for = "Q16_0">Assume they are hostile and defend our planet.</label></br>
			<input type = "radio"
				name = "16"
				id = "Q16_1"
				value = "1" />
			<label for = "Q16_1">World peace and galaxy peace are primary.</label></br>
			<input type = "radio"
				name = "16"
				id = "Q16_2"
				value = "2" />
			<label for = "Q16_2">We will adopt their technology and adapt to a new intergalactic world.</label></br>
			<input type = "radio"
				name = "16"
				id = "Q16_3"
				value = "3" />
			<label for = "Q16_3">With suspicion, but assume good intentions.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q18</h5>
		<p>
			<label><i>What is your dream house?</i></label></br>
			<input type = "radio"
				name = "17"
				id = "Q17_0"
				value = "0" />
			<label for = "Q17_0">A remote cabin in the woods.</label></br>
			<input type = "radio"
				name = "17"
				id = "Q17_1"
				value = "1" />
			<label for = "Q17_1">A reasonably sized house with a great view.</label></br>
			<input type = "radio"
				name = "17"
				id = "Q17_2"
				value = "2" />
			<label for = "Q17_2">I prefer a nomadic lifestyle and to have no set home.</label></br>
			<input type = "radio"
				name = "17"
				id = "Q17_3"
				value = "3" />
			<label for = "Q17_3">A property with a lot of land.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q19</h5>
		<p>
			<label><i>What is your meaning of life?</i></label></br>
			<input type = "radio"
				name = "18"
				id = "Q18_0"
				value = "0" />
			<label for = "Q18_0">Take advantage of all opportunities and realize success.</label></br>
			<input type = "radio"
				name = "18"
				id = "Q18_1"
				value = "1" />
			<label for = "Q18_1">Living a purposeful, balanced life.</label></br>
			<input type = "radio"
				name = "18"
				id = "Q18_2"
				value = "2" />
			<label for = "Q18_2">Living in the moment and adapting to it.</label></br>
			<input type = "radio"
				name = "18"
				id = "Q18_3"
				value = "3" />
			<label for = "Q18_3">To connect to and achieve alignment with the natural world.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q20</h5>
		<p>
			<label><i>Do you find yourself howling at the moon?</i></label></br>
			<input type = "radio"
				name = "19"
				id = "Q19_0"
				value = "0" />
			<label for = "Q19_0">Yes, more often than I care to admit.</label></br>
			<input type = "radio"
				name = "19"
				id = "Q19_1"
				value = "1" />
			<label for = "Q19_1">I do sometimes but suppress the urge.</label></br>
			<input type = "radio"
				name = "19"
				id = "Q19_2"
				value = "2" />
			<label for = "Q19_2">I'm a cat person.</label></br>
			<input type = "radio"
				name = "19"
				id = "Q19_3"
				value = "3" />
			<label for = "Q19_3">I don't go out at night and avoid darkness, so I don't see the moon much.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q21</h5>
		<p>
			<label><i>Do you find yourself confronting other people who aren't pulling their weight?</i></label></br>
			<input type = "radio"
				name = "20"
				id = "Q20_0"
				value = "0" />
			<label for = "Q20_0">Yes, it is justified in this type of scenario.</label></br>
			<input type = "radio"
				name = "20"
				id = "Q20_1"
				value = "1" />
			<label for = "Q20_1">I make it a point to keep everyone up to my standards.</label></br>
			<input type = "radio"
				name = "20"
				id = "Q20_2"
				value = "2" />
			<label for = "Q20_2">I rather, lead by example and show them how to act.</label></br>
			<input type = "radio"
				name = "20"
				id = "Q20_3"
				value = "3" />
			<label for = "Q20_3">I'm more of an observer and prefer not to cause conflict.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q22</h5>
		<p>
			<label><i>How do you recharge after a stressful day?</i></label></br>
			<input type = "radio"
				name = "21"
				id = "Q21_0"
				value = "0" />
			<label for = "Q21_0">I spend time alone.</label></br>
			<input type = "radio"
				name = "21"
				id = "Q21_1"
				value = "1" />
			<label for = "Q21_1">I blow off steam with friends.</label></br>
			<input type = "radio"
				name = "21"
				id = "Q21_2"
				value = "2" />
			<label for = "Q21_2">I don't need to recharge, I'm always moving.</label></br>
			<input type = "radio"
				name = "21"
				id = "Q21_3"
				value = "3" />
			<label for = "Q21_3">It depends, I sometimes go out and sometimes stay in.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q23</h5>
		<p>
			<label><i>How often are you on time?</i></label></br>
			<input type = "radio"
				name = "22"
				id = "Q22_0"
				value = "0" />
			<label for = "Q22_0">I'm always on time.</label></br>
			<input type = "radio"
				name = "22"
				id = "Q22_1"
				value = "1" />
			<label for = "Q22_1">I make it a point to be early.</label></br>
			<input type = "radio"
				name = "22"
				id = "Q22_2"
				value = "2" />
			<label for = "Q22_2">It depends.</label></br>
			<input type = "radio"
				name = "22"
				id = "Q22_3"
				value = "3" />
			<label for = "Q22_3">I can be fashionably late.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q24</h5>
		<p>
			<label><i>How do you solve most problems?</i></label></br>
			<input type = "radio"
				name = "23"
				id = "Q23_0"
				value = "0" />
			<label for = "Q23_0">I solve problems through compromise.</label></br>
			<input type = "radio"
				name = "23"
				id = "Q23_1"
				value = "1" />
			<label for = "Q23_1">I push through my problems until they are solved.</label></br>
			<input type = "radio"
				name = "23"
				id = "Q23_2"
				value = "2" />
			<label for = "Q23_2">I focus only on the problems I can solve.</label></br>
			<input type = "radio"
				name = "23"
				id = "Q23_3"
				value = "3" />
			<label for = "Q23_3">I attempt to understand everything about the problem.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q25</h5>
		<p>
			<label><i>Which is more important collaboration or competition?</i></label></br>
			<input type = "radio"
				name = "24"
				id = "Q24_0"
				value = "0" />
			<label for = "Q24_0">Collaboration.</label></br>
			<input type = "radio"
				name = "24"
				id = "Q24_1"
				value = "1" />
			<label for = "Q24_1">Competition.</label></br>
			<input type = "radio"
				name = "24"
				id = "Q24_2"
				value = "2" />
			<label for = "Q24_2">A mix of both.</label></br>
			<input type = "radio"
				name = "24"
				id = "Q24_3"
				value = "3" />
			<label for = "Q24_3">I prefer going my own way.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q26</h5>
		<p>
			<label><i>Choose an adjective that represents you.</i></label></br>
			<input type = "radio"
				name = "25"
				id = "Q25_0"
				value = "0" />
			<label for = "Q25_0">Friendly.</label></br>
			<input type = "radio"
				name = "25"
				id = "Q25_1"
				value = "1" />
			<label for = "Q25_1">Intense.</label></br>
			<input type = "radio"
				name = "25"
				id = "Q25_2"
				value = "2" />
			<label for = "Q25_2">Rational.</label></br>
			<input type = "radio"
				name = "25"
				id = "Q25_3"
				value = "3" />
			<label for = "Q25_3">Diligent.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q27</h5>
		<p>
			<label><i>Choose an adjective that represents you.</i></label></br>
			<input type = "radio"
				name = "26"
				id = "Q26_0"
				value = "0" />
			<label for = "Q26_0">Assertive.</label></br>
			<input type = "radio"
				name = "26"
				id = "Q26_1"
				value = "1" />
			<label for = "Q26_1">Caring.</label></br>
			<input type = "radio"
				name = "26"
				id = "Q26_2"
				value = "2" />
			<label for = "Q26_2">Independent.</label></br>
			<input type = "radio"
				name = "26"
				id = "Q26_3"
				value = "3" />
			<label for = "Q26_3">Attentive.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q28</h5>
		<p>
			<label><i>Choose an adjective that represents you.</i></label></br>
			<input type = "radio"
				name = "27"
				id = "Q27_0"
				value = "0" />
			<label for = "Q27_0">Resilient.</label></br>
			<input type = "radio"
				name = "27"
				id = "Q27_1"
				value = "1" />
			<label for = "Q27_1">Balanced.</label></br>
			<input type = "radio"
				name = "27"
				id = "Q27_2"
				value = "2" />
			<label for = "Q27_2">Charismatic.</label></br>
			<input type = "radio"
				name = "27"
				id = "Q27_3"
				value = "3" />
			<label for = "Q27_3">Perceptive.</label></br>
		</p>
	</fieldset>
	<fieldset>
		<h5>Q29</h5>
		<p>
			<label><i>Choose an adjective that represents you.</i></label></br>
			<input type = "radio"
				name = "28"
				id = "Q28_0"
				value = "0" />
			<label for = "Q28_0">Focused.</label></br>
			<input type = "radio"
				name = "28"
				id = "Q28_1"
				value = "1" />
			<label for = "Q28_1">Intuitive.</label></br>
			<input type = "radio"
				name = "28"
				id = "Q28_2"
				value = "2" />
			<label for = "Q28_2">Clever.</label></br>
			<input type = "radio"
				name = "28"
				id = "Q28_3"
				value = "3" />
			<label for = "Q28_3">Resourceful.</label></br>
		</p>
	</fieldset>

	<fieldset>
		<input type="submit" value="Submit" class="btn btn-primary" style="margin-left: 40%;"/>
	</fieldset>
	<fieldset hidden>
		<input type="hidden" name="keys_string" id="keys" value="9B564A720721348117B950A13569B36A3248457BBA936B95182607B9658A345601AB743201A788A70024598A229610471083985B623B01244538">
	</fieldset>
</form>
</div>
</div>
</div>
</br>